<h2>Search Results</h2>

<div class="search-results">
{{#each artists}}
    <div class="search-item">
        <div class="image-container">
        {{#with image}}
            <img src="{{url}}"></img>
        {{/with}}
        </div>
        <div class="text-container">
            <p>{{name}}</p>
            <a href="{{linkUrl}}">View albums</a>
        </div>
    </div>
{{/each}}
</div>
