<div class="bg-container">
    <img src="images/spotify-background.jpeg" alt="concert background" class="artist-search-bg">
    <form action="/artist-search", method="GET" class="artist-search">
        <input type="text" name="name">
        <button type="submit">Search for an Artist</button>
    </form>
</div>
